.box-deal {
  display: inline-block;
  width: 1.125rem;
  height: 1.125rem;
}

.column-deal {
  min-height: 300px;
  height: 100%;
}

.pipeline-header {
  background-color: #f9fbfc;
}

.pipelines-board {
  height: calc(100vh - 140px) !important;
  box-sizing: border-box;
}

.pipelines-board-col {
  height: calc(100vh - 280px) !important;
  box-sizing: border-box;
  overflow-y: auto;
}

.pipelines-board-col .column-deal h3 {
  color: #858588 !important;
  font-size: 0.984375rem;
}

.parent-board-header {
  position: -webkit-sticky;
  position: sticky !important;
  top: 0;
  z-index: 10;
  border: 1px solid #e5e5e5 !important;
  border-radius: var(--borderRadius);
  height: 75px;
}

.board-header:not(:last-child):after {
  content: '';
  background: url('../../assets/svg/arrow_right.svg') no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 73px;
  width: 10px;
  top: 0;
  right: -7px;
  display: inline-block;
  z-index: 1;
}

.board-header:last-child {
  border-right: 1px solid #e5e5e5 !important;
}

.board-footer {
  padding-left: 15rem;
  width: inherit;
  max-width: inherit;
  z-index: 50;
  transition: all 0.3s linear;
}

.board-footer .board-footer-item {
  width: 100%;
  height: 63px;
  margin-right: 1rem;
}

.board-footer .board-footer-item:last-child {
  margin: 0;
}

.parent-column .col:hover a.add-deal {
  display: block !important;
}

.opacity-0 {
  opacity: 0;
  transform: translateY(100px);
}

.opacity-1 {
  opacity: 1;
  transform: translateY(0);
}

.opacity-11 {
  opacity: 1 !important;
  pointer-events: visible !important;
}

.board-footer .board-footer-item.won {
  color: #555;
  background-color: #f7fdfb;
  border: 2px dashed var(--wonColor) !important;
}

.board-footer .board-footer-item.lost {
  color: #555;
  background-color: #fff2f3;
  border: 2px dashed var(--lostColor) !important;
}

.board-footer .board-footer-item.delete {
  color: #555;
  background-color: #f5f8fa;
  border: 2px dashed var(--deleteColor) !important;
}

.deal-types {
  color: #fff !important;
}

.deal-types.lost {
  background-color: var(--lostDarkColor) !important;
}

.deal-types.won,
.deal-types.hot {
  background-color: var(--wonDarkColor) !important;
}

.deal-types.delete {
  background-color: var(--deleteDarkColor) !important;
}

.deal-types.cold {
  background-color: var(--deleteDarkColor) !important;
}

.btn-danger {
  background-color: var(--lostDarkColor) !important;
  border-color: var(--lostDarkColor) !important;
}

.btn-danger:hover {
  background-color: var(--lostDarkColorHover) !important;
  border-color: var(--lostDarkColorHover) !important;
}

.btn-success {
  background-color: var(--wonDarkColor) !important;
  border-color: var(--wonDarkColor) !important;
}

.btn-success:not(.cursor-default):hover {
  background-color: var(--wonDarkColorHover) !important;
  border-color: var(--wonDarkColorHover) !important;
  color: #fff !important;
}

.badge-success {
  background-color: var(--wonDarkColor) !important;
}

.deal-col {
  min-width: 260px;
}
